body {
  background-image: url("https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: Roboto;
}

.todoMainApp {
  text-align: center;
  justify-content: center;
  background-color: rgba(1, 1, 1, 0.349);
  opacity: 1;
  width: 30%;
  min-height: 572px;
  padding: 32px 48px;
  margin-top: 64px;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

input {
  background-color: transparent !important;
  border: 1px solid #ced4da;
}

.reset-button,
.submit-button {
  margin-left: 5px;
}

.delete-button,
.complete-button {
  margin-left: 1px;
}

.task-input {
  color: white;
  box-shadow: none;
  border: 1px solid #ced4da;
}

.table th {
  border-top: none;
}

.task-input:focus {
  box-shadow: none;
  border: 1px solid #ced4da;
  color: white;
}

.is-complete {
  font-style: italic;
  text-decoration: line-through;
}

.table {
  word-break: break-all;
  color: white;
}

.headTitle {
  color: white;
}

.pagination-buttons {
  margin: 2px;
  border-radius: 0.25rem;
  padding: 0.1rem 0.55rem;
}

.pagination-container {
  text-align: end;
}

.current-page {
  cursor: auto;
}

.current-page:disabled {
  color: #f8f9fa;
  border-color: #f8f9fa;
  opacity: 1;
}
